<html>
      <body>
        <h2>Driver Drowsiness Status</h2>
        <!-- <img src="/video" width="640"> -->
        <pre id="output">Loading...</pre>

        <script>
          async function fetchStatus() {
            const res = await fetch("/status");
            const data = await res.json();
            document.getElementById("output").innerText =
              JSON.stringify(data, null, 2);
          }

          setInterval(fetchStatus, 100);
          fetchStatus();
        </script>
      </body>
    </html>
  